<router-outlet></router-outlet>
<div class="container" >
    <h1>Value Coders Employee Local database!</h1>
    <button type class="bb btn btn-warning text-white" routerLink="/formbutton" routerLinkActive="active">Employee
        List</button>


    <button type class="bb btn btn-warning text-white" routerLink="/myform" routerLinkActive="active">New Employee
    </button>
    <!-- <button type  class="bb btn btn-warning text-white" routerLinkActive="active">New Employee</button> -->
</div>

<!-- <router-outlet></router-outlet> -->